.grid-container{
    display: grid;
    grid-template-areas:
        'bt1 bt2 bt3'
        'bt5 tbl tbl'
        'bt6 tbl tbl';
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.item1{
    grid-area: bt1;
}

.item2{
    grid-area: bt2;
}

.item3{
    grid-area: bt3;
}

.item4{
    grid-area: bt5;
}

.item5{
    grid-area: bt6;
}

.item6{
    grid-area: tbl;
}