/* Você pode adicionar estilos globais a este arquivo e também importar outros arquivos de estilo */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}